# dependencies
**/node_modules

# testing
**/coverage
**/test-results
**/playwright-report

# build
**/dist
**/build
**/dist-zip
chrome-extension/manifest.js
chrome-extension/pre-build.tsconfig.tsbuildinfo
tsconfig.tsbuildinfo

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea
**/.turbo
*.af
*.af~lock~

# compiled
**/tailwind-output.css
