{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 80,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": [],
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
