@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body,
  [data-theme='light'] {
    --background: theme(colors.stone.50);
    --foreground: theme(colors.slate.900);

    --card: theme(colors.white);
    --card-foreground: theme(colors.slate.900);

    --popover: theme(colors.white);
    --popover-foreground: theme(colors.slate.900);

    --muted: theme(colors.stone.100);
    --muted-foreground: theme(colors.stone.500);

    --accent: theme(colors.stone.100);
    --accent-foreground: theme(colors.slate.900);

    --border: theme(colors.stone.200);
    --input: theme(colors.stone.200);

    --primary: theme(colors.red.600);
    --primary-foreground: theme(colors.white);

    --destructive: theme(colors.red.600);
    --destructive-foreground: theme(colors.white);

    --ring: theme(colors.red.600);
  }

  [data-theme='dark'] {
    --background: theme(colors.slate.950);
    --foreground: theme(colors.stone.100);

    --card: theme(colors.slate.900);
    --card-foreground: theme(colors.stone.100);

    --popover: theme(colors.slate.900);
    --popover-foreground: theme(colors.stone.100);

    --muted: theme(colors.slate.800);
    --muted-foreground: theme(colors.slate.400);

    --accent: theme(colors.slate.800);
    --accent-foreground: theme(colors.stone.100);

    --border: theme(colors.slate.800);
    --input: theme(colors.slate.800);

    --primary: theme(colors.red.300);
    --primary-foreground: theme(colors.slate.950);

    --destructive: theme(colors.red.300);
    --destructive-foreground: theme(colors.slate.950);

    --ring: theme(colors.red.300);
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
